body{
  margin: 0;
  background-color: #e4c8a9;
  box-sizing: border-box;
  overflow-x: hidden;
}
/*   Navbar */
.navbar{
    border-bottom: .3rem solid #422800;
    background-color: transparent;
    color: #650d03;
    z-index: 1;
}
.navbar-center{
    margin: 0 16rem;
}
.nav-link, .navbar-brand{
  color: #650d03;
}

/*   Head */
header{
  position: absolute;
  top: 0;
  height: 100vh;
  background-image: url(./images/banner.jpg);
  background-size: 100% 100vh;
  background-repeat: no-repeat;
  color: #fbeee0;
}

.cta-button {
margin-top: 2rem;
background-color: #fbeee0;
border: 2px solid #422800;
border-radius: 30px;
box-shadow: #422800 4px 4px 0 0;
color: #422800;
cursor: pointer;
display: inline-block;
font-weight: 600;
font-size: 18px;
padding: 0 18px;
line-height: 50px;
text-align: center;
text-decoration: none;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
}

.cta-button:hover {
background-color: #fff;
}

.cta-button:active {
box-shadow: #422800 2px 2px 0 0;
transform: translate(2px, 2px);
}
/*********************/

/* main styles */
main{
  position: relative;
  top: 100vh;
  width: 100%;
  height: auto;
  background-color: #e4c8a9;
  color:  #650d03;
  overflow: hidden;
}
a{
  text-decoration: none;
  color: #422800;
}
a:hover{
  text-decoration: none;
  color: #422800;
}
.lead{
  color: #650d03;
}
.btn {
  background-color: #650d03;
  color: #e4c8a9;
  border: 1px solid #422800;
}
/**************/

/* Call to action Form */
#form{
  width: 70%;
  margin: auto;
  border-radius: 1rem;
  background-color: #a17048;
  color: #650d03;
}
.input {
  width: 15rem;
}
.form-control, .form-control:focus{
  background-color: #e4c8a9;
  color: #650d03;
  border: 1px solid #422800;
  box-shadow: none;
}
.form-text{
  line-height: 1.2rem;
}
/************************/
/*   Servicios   */
#servicios img{
  width: 35rem;
  height: 25rem;

}
/************************/
/*   Portafolio  */
.carousel img {
  height: 40rem;
}
.carousel-caption{
  color: #650d03;
}
/************************/

/*   Artistas    */
.artist-picture{
  margin: 0 3rem;
  color: #fff;
}
.artist-picture p{
  position: relative;
  left: 1rem;
  bottom: 2rem;
}
.artist-picture img{
  height: 20rem;
  width: 20rem;
}
.artist-picture .social-media-icons{
  
  position: relative;
  left: 16rem;
  bottom: 22rem;
  list-style: none;
}

/*  footer  */
footer{
  height: 5rem;
  background-color: #422800;
  color: #e4c8a9;
}
footer ul{
 list-style: none;
}
footer i{
  color: #e4c8a9;
}

/************/

@media (max-width: 768px) {
.cta-button {
    min-width: 120px;
    padding: 0 25px;
}
/* Servicios  */
#servicios img{
  width: 30rem;
  height: 25rem;
}
.servicio:nth-child(odd){
  flex-direction: column;
}
.servicio:nth-child(even){
  flex-direction: column-reverse;
}
/**************/
/*  Artistas  */
.artist-picture{
  margin: 0 5px;
}
.artist-picture img{
  height: 20rem;
}
.artist-picture .social-media-icons{
  left: 16rem;
}
/**************/
}


@media (max-width: 425px){
  /*   navbar   */
  .navbar-center{
    margin: 0;
  }
  /*************/
  /*  header  */
  header{
    height: 70vh;
    color: #650d03;
    background-image: none;
  }
  /************/
  main {
    top: 50vh;
  }
  /* Servicios  */
  #servicios img{
    width: 15rem;
    height: 15rem;
  }
  
  /*  Portfolio */
  #portfolio{
    display: none;
   }
  /**************/
 
/*  Artistas  */
  .artist-picture .social-media-icons{
    left: 14rem;
  }
/**************/

/*  Contact Form  */
#form {
  width: 90%;
  margin: 0 auto;
}
#form .input{
  margin-bottom: 1rem ;
}

/******************/
/* footer  */
footer{
  height: 15rem;
}
}

@media (max-width: 375px){
  /* Servicios  */
  #servicios img{
    width: 15rem;
    height: 15rem;
  }
  /**************/
  /*  Artistas  */
  .artist-picture{
    margin: 0;
  }
  .artist-picture img{
    height: 15rem;
  }
  .artist-picture .social-media-icons{
    bottom: 17rem;
    left: 16rem;
  }
/**************/
}
@media (max-width: 320px){
  
  /*  Artistas  */
  .artist-picture{
    margin: 0;
  }
  .artist-picture img{
    height: 15rem;
  }
  
  .artist-picture .social-media-icons{
   
    left: 13rem;
  }
  /**************/
}